{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Connexion{% endblock %}

{% block body %}
<section class="signin text-center">
    <div class="form-signin w-100 m-auto">
        <img src="{{ asset('assets/img/logo.png') }}" alt="logo-snowtricks" class="logo mb-3">
        <h1 class="txt-logo">Snowtricks</h1>
        <h3 class="fw-bold">Connexion</h3>

        <div class="card shadow mt-3">
            <div class="card-body p-5">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>
                    <div class="mb-3 text-end">
                        <a href="{{ path('app_forgot_password') }}" class="text-decoration-underline">Mot de passe oublié ?</a>
                    </div>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >

                    <button class="btn btn-primary" type="submit">
                        Se connecter
                    </button>
                    <div class="mt-3 text-start">
                        Vous n'avez pas de compte ? <a href="{{ path('app_register') }}" class="text-decoration-underline">Inscription</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>

{% endblock %}
