{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Accueil{% endblock %}

{% block body %}

<!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
		<img src="{{ asset('assets/img/logo.png') }}" alt="">
      <h1 class="txt-logo">Snowtricks</h1>
      <h2>Rejoignez notre communauté et devenez un pro du snowboard !</h2>
      <a href="{{ path('app_home') }}#tricks" class="btn-get-started scrollto"><i class="bi bi-arrow-down"></i></a>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Tricks Section ======= -->
    <section id="tricks" class="tricks">
      <div class="container">

        <div id="moreTricks" class="row">
          {% for trick in tricks %}
            {% include 'trick/_trick_card.html.twig' %}
          {% endfor %}
        </div>
        <div class="col-12 text-center mb-3">
          <img src="{{ asset('assets/img/spinner.gif') }}" id="spinner" class="invisible">
        </div>
        <div class="col-lg-12 text-center">

          <a id="btnMoreTricks" class="btn-learn-more" data-start="4" data-limit="4">Voir plus</a>
        </div>
      </div>
    </section><!-- End Tricks Section -->

    <a href="{{ path('app_home') }}#tricks" id="backToTopTricks" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('home') }}
{% endblock %}