<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
	<div class="trick">
		<a href="{{ path('app_trick_show', {slug: trick.slug}) }}" class="trick-img">
		<img src="{{ asset('uploads/') ~ trick.featuredImage }}" class="img-fluid" alt="{{ trick.name }}">
		</a>
		<div class="trick-info">
		<div class="trick-group">
			<h2>{{ trick.groupTrick.name }}</h2>
		</div>
		<a href="{{ path('app_trick_show', {slug: trick.slug}) }}"><h4>{{ trick.name }}</h4></a>

		{% if app.user %}
			<div class="trick-action">
				<a href="{{ path('app_trick_edit', {slug:trick.slug}) }}" class="btn-modify"><i class="bi bi-pencil-fill"></i></a>
				{% if app.user.id == trick.author.id %}
					<a href="" class="btn-delete" data-bs-toggle="modal" data-bs-target="#modalDeleteTrick"><i class="bi bi-trash-fill"></i></a>
					{% include 'trick/_modal_delete.html.twig' %}
				{% endif %}
			</div>
		{% endif %}


		</div>
	</div>
</div>