{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Modification - {{ trick.name }}{% endblock %}

{% block body %}
<section class="trick-single">
	<h3 class="fw-bold text-center text-white mb-5">Modification</h3>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 entries">
				<div class="entry entry-single w-100 m-auto">
					<div class="form-trick">
						{{ form_start(trickForm) }}
								{% include 'trick/_trickForm.html.twig' %}
								<div class="col-12 text-end">
									<button type="submit" class="btn btn-warning">Modifier</button>
									{% if app.user.id == trick.author.id %}
									<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDeleteTrick">Supprimer</button>
									{% include 'trick/_modalDelete.html.twig' %}
								{% endif %}
								</div>
							{{ form_widget(trickForm._token) }}
						{{ form_end(trickForm, {render_rest: false}) }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}


{% block javascripts %}
	<script src="{{ asset('assets/js/addTrick.js')}}" defer></script>
{% endblock %}