{% extends 'base.html.twig' %}

{% block title %}SnowTricks - {{ trick.name }}{% endblock %}

{% block body %}

<section id="trick-single" class="trick-single">
	<div class="container" data-aos="fade-up">
		<div class="row">
			<div class="col-lg-12 entries">
				<article class="entry entry-single">
					<div class="entry-img">
						<div class="trick-info">
							<div class="trick-group">
								<h2>{{ trick.groupTrick.name }}</h2>
							</div>
							<h2>{{ trick.name }}</h2>
						</div>

						{% if app.user %}
							<div class="trick-action">
								<a href="{{ path('app_trick_edit', {slug:trick.slug}) }}" class="btn-modify"><i class="bi bi-pencil-fill"></i></a>
								{% if app.user.id == trick.author.id %}
									<a href="" class="btn-delete" data-bs-toggle="modal" data-bs-target="#modalDeleteTrick"><i class="bi bi-trash-fill"></i></a>
									{% include 'trick/_modalDelete.html.twig' %}
								{% endif %}
							</div>
						{% endif %}

						<img src="{{ asset('uploads/') ~ trick.featuredImage }}" alt="{{ trick.name }}" class="img-fluid">
					</div>

					<div class="entry-media">
						<div id="medias" class="row">
						<h3>Gallerie</h3>
						{% for photo in trick.photos %}
							<a href="{{ asset('uploads/') ~ photo.path }}" data-toggle="lightbox" data-gallery="mixedgallery" class="col-6 col-md-4 col-xl-3 mt-2 text-center">
								<img src="{{ asset('uploads/') ~ photo.path }}">
							</a>
						{% endfor %}

						{% for video in trick.videos %}
							<a href="{{ video.embed }}" data-toggle="lightbox" data-gallery="mixedgallery" class="col-6 col-md-4 col-xl-3 mt-2 text-center">
								<div class="video">
									<img src="{{ asset('uploads/') ~ trick.featuredImage }}">
									<i class="bi bi-play-btn-fill"></i>
								</div>
							</a>
						{% endfor %}
						</div>
						<button id="seeMedias" class="btn btn-sm btn-primary d-block d-lg-none">Voir la gallerie</button>
					</div>

					<div class="entry-content">
						<h3>Description</h3>
						<p>
							{{ trick.description|nl2br }}
						</p>
					</div>

					<div class="entry-meta">
						<ul>
						<li class="d-flex align-items-center"><i class="bi bi-person"></i>{{ trick.author.username }}</li>
						<li class="d-flex align-items-center"><i class="bi bi-clock"></i>{{ trick.createdAt|date("d/m/Y \\à\\ H:i") }}</li>
						{% if trick.updatedAt is not empty %}
						<li class="d-flex align-items-center"><i class="bi bi-pencil"></i>{{ trick.updatedAt|date("d/m/Y \\à\\ H:i") }}</li>
						{% endif %}
						<li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i>{{ inflector(trick.comments|length, 'commentaire') }}</li>
						</ul>
					</div>

					{# <!-- ======= Comments Section ======= --> #}
					<div class="trick-comments">

						{% if commentForm is defined %}
							<div class="reply-form mb-5">
								<h4>Laisser un commentaire</h4>
								{{ form_start(commentForm) }}
									{{ form_row(commentForm.content) }}
									<button type="submit" class="btn btn-primary">Poster mon commentaire</button>
								{{ form_end(commentForm) }}
							</div>
						{% else %}
								<hr class="mt-5">
									<h4 class="text-center">
									{% if app.user %}
										Activer votre compte pour poster un commentaire.<a class="text-primary fw-bold" href="{{path('app_resend_token_activation') }}">Cliquez ici pour activer votre compte.</a>
									{% else %}
										<a class="text-primary fw-bold" href="{{ path('app_login') }}">Connectez-vous</a> pour poster un commentaire.
									{% endif %}
									</h4>
								<hr class="mb-5">
						{% endif %}


						<h4 class="comments-count">{{ inflector(trick.comments|length, 'commentaire') }}</h4>

						<div id="moreComments"></div>
						<div class="col-12 text-center mb-3">
							<img src="{{ asset('assets/img/spinner.gif') }}" id="spinner" class="invisible">
						</div>
						<div class="col-lg-12 mt-4 text-center">
							<a id="btnMoreComments" class="btn-learn-more" data-start="0" data-limit="5" data-slug="{{ trick.slug }}">Voir plus</a>
						</div>

					 </div>{# <!-- End Comments Section --> #}

				 </article>{# <!-- End blog entry --> #}
			</div>
		</div>
	</div>
 </section>{# <!-- End Trick Single Section --> #}

{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/bs5-lightbox@1.8.2/dist/index.bundle.min.js"></script>
	<script src="{{ asset('assets/js/showTrick.js') }}"></script>
{% endblock %}